Django>=3.1,<3.3
mysqlclient
sqlalchemy
django-model-utils>=4.0
PyGithub==1.54.1
cryptography>=3.2
pyjwt<2
python-dateutil>=2.8.1,<3
python-gitlab
elasticsearch>=7.0.0,<8.0.0
elasticsearch_dsl>=7.0.0,<7.11.0
tweepy==3.10.0
git+https://gitlab.com/cauldronio/cauldron-pool-scheduler.git
